{% extends "shop/basic.html" %}

{% block title %}About Us{% endblock  %}

{% block body %}

<main>
    <div class="container py-4">
      
  
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-1">
          <h1 class="display-5 fw-bold">My Awesome Cart</h1>
          <p class="col-md-8 fs-4">My Awesome Cart Private Limited is an Indian e-commerce company, headquartered in Bangalore, and incorporated in Singapore as a private limited company. The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.

            The service competes primarily with Amazon India and domestic rival Snapdeal.[5][6] As of March 2017, Flipkart held a 39.5% market share in the Indian e-commerce industry.[7] Flipkart has a dominant position in the apparel segment, bolstered by its acquisition of Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.</p>
          <button class="btn btn-primary btn-lg" type="button">Example button</button>
        </div>
      </div>
  
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <h2>Shopping</h2>
            <p>For traditional businesses, one research stated that information technology and cross-border e-commerce is a good opportunity for the rapid development and growth of enterprises. Many companies have invested an enormous volume of investment in mobile applications. The DeLone and McLean Model stated that three perspectives contribute to a successful e-business: information system quality, service quality and users' satisfaction.</p>
            <button class="btn btn-outline-light" type="button">Shop</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Orders</h2>
            <p>Following is the list of popular online shopping sites in India: MyAwesomeCart: It is the leader in e- commerce market in my world. We can buy jwelleries, electronics, Shoes and clothing at cheap prices..</p>
            <button class="btn btn-outline-secondary" type="button">Order</button>
          </div>
        </div>
      </div>
  
      <footer class="pt-3 mt-4 text-muted border-top">
        © 2021
      </footer>
    </div>
  </main>

{% endblock  %}